/*Reusable components have styling here, maybe through imports (one for each) For instance the menu or footer*/
@import 'form';
@import 'containers';
@import 'map';
@import 'cards';
@import 'trip';
@import 'carContainer';
@import 'orgDetails';
@import 'mainMenu';
@import 'landing';
