$card-border-radius: 5px;

.organization-container {
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: 'Aerial', sans-serif;
}

.organization {
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 20px 10px 20px;
  background: #ccd8ea;
  border-radius: 5px;
  width: 200px;
  height: 260px;
  float: left;
}

.organization-car-list {
  display: inline-block;
  background: #dee5f0;
  margin: 5px 10px 5px 10px;
  padding: 5px;
  min-width: 150px;
  min-height: 130px;
  float: left;
  border-radius: 5px;
}