$card-border-radius: 5px;

.organization-container {
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: 'Aerial', sans-serif;
}

.organization {
  box-shadow: 3px 3px 3px #f7f9fb;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background: linear-gradient(135deg, #B0C7EE, #6985B1);
  border-radius: $card-border-radius;
  width: 200px;
  height: 260px;
  float: left;
}

.organization-title {
  height: 50px;
  background: #f7f9fb;
  padding: 15px;
  border-top-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
}

.organization-main {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.organization-main img {
  margin-top: 5px;
  margin-bottom: 10px;
}
