.form{
	fieldset {
		border: none;
		width: 300px;
		margin: 0 auto;
	}

	input[type=text], input[type=password], select {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		font-size: 90%;
	}

	input[type=submit] {
		width: 100%;
		background-color: #ff5f08;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-size: 100%;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .12), inset 0 1px 0 hsla(0, 0%, 100%, .35);
		text-shadow: 0 1px 0 #e54813;

	}

	input[type=submit]:hover  {
		background-color: #ff5215;
	}

	input[type="submit"]:disabled{
		background-color: gray;
		cursor: not-allowed;
	}

}
