.orgContainer h1{
    font-size: 50;
}

.orgContainer h2{
    font-size: 20;
}

.orgContainer{
    width: 100%;
    display: inline-block;
}

.spanner {
    display: inline-block;
    width: 100%;
}

.orgBlock {
    background: #ccd8ea;
    padding: 10px 10px 50px 10px;
    margin: 10px 0 10px 0;
    position: relative;
    min-height: 250px;
    float: left;
    border-radius: 5px;
    @media (max-width: 600px) {
        width: 100% !important
    }
}

.people {
    margin-right: 2%;
    width: 30%;
}

.people h2{
    left: 0px;
    margin-bottom: 0px
}

.people .members{
    display: inline-block;
    min-height: 50px;
}

.user{
    float: left;
    padding: 5px;
}

.topMargin{
    margin-top: 10px;
}

.cars {
    width: 68%;
}

.cars h2{
    display: inline-block;
    margin: 0;
}

.buttonlink {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.car {
    display: inline-block;
    background: #dee5f0;
    margin: 0 10px 10px 0;
    padding: 5px;
    min-width: 150px;
    min-height: 130px;
    float: left;
    border-radius: 5px;
}

.car table{
    margin: 0;
    width: initial;
}

.car td{
    padding: 3px;    
}

.car h3{
    text-align: left;
    float: left;
    padding: 5px;
    margin: 0;
}

.tripIcon{
    float: right;
    width: 30px;
    margin: 2px;
}