html
    head
        link(href='/styles.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')

        meta(name="viewport" content="width=device-width, initial-scale=1")

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js' type="text/javascript")

        script.
            $(document).ready(function(){
                $("#name").focus();
            });
        title TripTrackr
        block header
    body
        block body
