extends MainMenu

block header
    link(href='index.css', rel='stylesheet')
    script(src='./js/barChart.js' type="text/javascript")

block content

    if user
        p= "Welcome, " + user.name
    else
        p= "Welcome, please log in"

    canvas(id="chart", width="400", height="300")
