
#title img {
    float: left;
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 120px;
    padding-top: 14px;
}


#content {
    width: 100%;
    display: block;
}

#menu {
    width: 100%;
    height: 70px;
}

* {
    box-sizing: border-box;
    font-family: Avenir;
}

nav[role="full-horizontal"] {
    width: 100%;
}
nav[role="full-horizontal"] ul {
    width: 100%;
    list-style: none;
}
nav[role="full-horizontal"] ul > li {
    position: relative;
    float: right;
    padding: .1em 1em;
    margin: 1.25em 1em;
    cursor: pointer;
    text-align: center;
    font-size: 88%;
    opacity: 0.9;
}
nav[role="full-horizontal"] ul > li:after {
    position: absolute;
    z-index: -1;
    content: "";
    right: 0;
    border-radius: 50%;
    box-shadow: 1em 1em 0 2em rgba(255, 255, 255, 0.5);
}
nav[role="full-horizontal"] ul > li:last-child:after {
    box-shadow: none;
}
/*
nav[role="full-horizontal"] ul > li:hover {
    background-color: rgba(217, 217, 231, 0.0);
}*/

nav[role="full-horizontal"] ul > li:hover > a {
    color: #3a3a3a;
    text-decoration: underline;
}
nav[role="full-horizontal"] ul > li > a {
    color: #333;
    text-decoration: none;
    font-size: 1.4em;
    transition: color .2s ease-in-out;
}

/* small screens */
@media screen and (max-width: 44em) {
    body {
        margin: 1.5em 0;
    }

    #title img {
        opacity: 0.0;
    }

    nav[role="full-horizontal"] ul {
        padding: 0 .5em;
    }
    nav[role="full-horizontal"] ul > li {
        width: 100%;
        padding: .45em .25em;
        margin: 0 0 .55em 0;
    }
    nav[role="full-horizontal"] ul > li:after {
        box-shadow: none;
    }
}