extends MainMenu

block content
    if user.is_admin
        h1 Click to make new org
    for organization in organizations
        .organization
            h1= organization.name
            ul
            for car in organization.cars
                li= car
