extends MainMenu

block content
    .form
        form(action="/signIn", method="post")
            fieldset

                input(id="name", name="username" type="text", value="", placeholder="Username")

                input(id="password", name="password" type="password", placeholder="Password")

                input(type="submit", value="Sign in")
