extends MainMenu

block header
    script(src='js/checkUsername.js', type='text/javascript')
    script(src="https://maps.googleapis.com/maps/api/js" type="text/javascript")
    script(src='js/map.js', type='text/javascript')

block content
    #userList
        ul
            each user in users
                li= user.name + " " + user.id
    .form
        form(action="/newUser", method="post")
            fieldset
                input(id="id", name="id" type="text", value="", placeholder="RFID")

                input(id="name", name="name" type="text", value="", placeholder="Name")

                input(id="password", name="password" type="password", placeholder="Password")

                input(id="password2", name="password2" type="password", placeholder="Repeat password")

                input(id="submitUser" type="submit" value="Create user" disabled)
                p#usernameHelper

    div#map_canvas