html
    head
        link(href='MainMenu.css', rel='stylesheet')
        title TripTrackr
        block header
    body
        #container
            #title
                a(href="/")
                    img(src= "Images/Logo.png")
            #menu
                nav(role="full-horizontal")
                    ul
                        li
                            a(href="/signIn") Sign in
                        li
                            a(href="/users") Users
                        li
                            a(href="/api") API

            #content
                block content
            #footer
                block footer
