html
    head
        link(href='MainMenu.css', rel='stylesheet')
        block header
    body
        #container
            #menu
                nav(role="full-horizontal")
                    ul
                        li
                            a(href="/") Home
                        li
                            a(href="/users") Users
                        li
                            a(href="/api") API
            #content
                block content
            #footer
                block footer
