/*This file should add default styling to elements such as div, p, h2 and so on*/

body {
	background: #fff -webkit-linear-gradient(rgba(0, 58, 91, 0), rgba(0, 58, 91, .08));
	margin: 0;
}

ul {
	list-style-type: none;
}
