extends ./../MainMenu

block header
    script(type="text/javascript").
        var id = "#{registration}";
    script(type="text/javascript" src="/js/carDetails.js")

block content
    h1= registration

    table#carTable
        tr
            th Latitude
            th Longitude
            th Speed
            th Time
