extends ./../MainMenu

block header
    script(src="/js/trip.js", type="text/javascript")

block content
    h1= trip_id
    a(href="../trips") Back to trips
    #map(style="width: 100%; height: 600px;")
    script(type='text/javascript').
        var points = !{JSON.stringify(vertices)}
