extends ./../MainMenu

block header
    script(type="text/javascript").
        var id = !{org.id};
    script(src = "/js/carOverview.js", type = "text/javascript")


block content
    .orgContainer
        div Server time: #[span#serverTime]

        a(href="/organizations/#{org.id}") < Back to #{org.name}
        #map_canvas
        br
        h2="Car Overview for "+org.name
        .twoEvenColumns
            .column1
                h3 Active Cars
                #active

            .column2
                h3 Inactive Cars
                #inactive

