extends ./../MainMenu

block header
    script(type="text/javascript").
        var id = !{org.id};
    script(src='/js/editOrganization.js', type='text/javascript')

block content
    h1= org.name

    h2 Add new car
    form(action="/organizations/" + org.id + "/newCar" method="post")
        fielset
            input(id="reg" name="reg" type="text" placeholder="Registration" required)
            input(id="make" name="make" type="text" placeholder="Make")
            input(id="model" name="model" type="text" placeholder="Model")
            input(id="year" name="year" type="text" placeholder="Production year")
            input(type="submit" value="Save car")

    h2 Manage users
    .threeEvenColumns
        .column1
            h1 Members
            select(id="members" name="member" multiple="multiple")
            button#addAdmin Add to admins
            button#removeMember Remove from organization
        .column2
            h1 Admins
            select(id="admins" name="admins" multiple="multiple")
            button#removeAdmin Remove from admins
        .column3
            h1 Users
            select(id="users" name="users" multiple="multiple")
            button#addMember Add to organization