extends ./../MainMenu

block header

block content
    h1= org.name
    if is_admin || user.is_admin
        a(href="/organizations/" + org.id + "/edit")
            button Edit

    a(href="/organizations/"+org.id+"/carOverview") Car Overview
    h2 Members:
    ul
    for member in org.members
        li=member.name

    h2 Cars:
    ul
    for car in org.cars
        li
            a(href="/car/" + car.registration + "/trips")= car.registration