extends ./../MainMenu

block header
    script(src='/js/checkUsername.js', type='text/javascript')

block content
    p#error
        if error
            | #{error}
    .form
        form(action="/newUser?retURL=#{retURL}&formURL=#{formURL}", method="post")
            fieldset
                input(id="id", name="id" type="text", value="", placeholder="RFID")

                input(id="name", name="name" type="text", value="", placeholder="Name")

                p Admin: #[input(id="is_admin", name="is_admin" type="checkbox")]

                input(id="password", name="password" type="password", placeholder="Password")

                input(id="password2", name="password2" type="password", placeholder="Repeat password")

                input(id="submitUser" type="submit" value="Create user" disabled)

                p#usernameHelper